@import url('https://fonts.googleapis.com/css?family=Roboto');

.welcome {
  background-image: url('./code-2.jpg');
  background-size: cover;
  height: 100vh;
}


.hello {
  position: relative;
  top: 4em;
  font-weight: bold;
  color: white;
  font-family: Roboto;
  font-size: 3em;
  text-align: center;
}

.hello-2 {
  color: white;
  font-size: 2.5em;
  top: 5em;
  position: relative;
  text-align: center;
}



@media screen and (max-width: 742px) {
  .hello {
    font-size: 2.9em;
  }
}


@media screen and (max-width: 740px) {
  .hello {
    top: 2em;
  }
}

@media screen and (max-width: 737px) {
  .hello-2 {
    top: 2.3em;
  }
}

@media screen and (max-width: 667px) {
  .hello-2 {
    top: 4em;

  }
}


@media screen and (max-width: 667px) {
  .hello {
    top: 3em;
  }
}






@media screen and (max-height: 491px) {
    .welcome-row {
      position: relative;
      bottom: 5em;
    }
}
@media screen and (max-height: 408px) {
    .welcome-row {
      position: relative;
      bottom: 8em;
    }
}


@media screen and (max-height: 360px) {
  .welcome-row{
    bottom: 4em;
  }
  .hello-2{
    top: 2.5em;
  }
}
