@import url('https://fonts.googleapis.com/css?family=Roboto');

.content {
  height: ;

}

.heading {
  color: white;
  font-family: Roboto;
  font-size: 3em;
}

.icons-row {
  margin-top: 3em;
  margin-left: 2em;
}

.icon.one,.icon.two,.icon.three,.icon.four {
  margin-right: 0.7em;

}


.underline {
  border: 2px solid white;
  border-radius: 6px;
  width: 10em;
  margin-left: 19.5%;
  margin-top: 1em;
}
.sub-text {
  color: white;
  top: 10em;
  line-height: 1.2em;
  text-align: center;
  font-family: Roboto;
  margin-top: 3em;
  font-size: 1.3em;
  border: 3px solid white;
  padding: 2em;
  border-radius: 4px;
}

.wrapper-2 {
  margin-top: 15em;
}

@media screen and (min-width: 1280px) {
  .sub-text {
    width: 50em;
  }
}

@media screen and (max-width: 1090px) {
  .icon {
    font-size: 6em;
  }
}

@media screen and (max-width: 830px) {
  .icon {
    font-size: 5em;
  }
}
@media screen and (max-width: 690px) {
  .icon.one,.icon.two,.icon.three,.icon.four {
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 622px) {
  .icon.one,.icon.two,.icon.three,.icon.four {
    margin-right: 0.5em;
  }
}
@media screen and (max-width: 530px) {
  .icon {
    font-size: 4em;
  }
}
@media screen and (max-width: 432px) {
  .icon {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 414px) {
  .icons-row {
    margin-right: 1%;
  }

  .icon.one,.icon.two,.icon.three,.icon.four {
    margin-right: 0.3em;
  }
}
@media screen and (max-width: 360px) {
  .icon.one,.icon.two,.icon.three,.icon.four {
    margin-right: 0.2em;
  }

  .icons-row {
    margin-right: 2%;
  }
}
