@import url('https://fonts.googleapis.com/css?family=Roboto');

.content {
  height: 100vh;
}

.heading {
  color: white;
  font-family: Roboto;
  position: ;
  top: 2em;
  right: 0.7em;
  font-size: 3em;
}

.icons-row {
  position: relative;
  top: 5em;
}

.icon.one,.icon.two,.icon.three,.icon.four {
  margin-right: 1em;

}


.underline {
  border: 2px solid white;
  position: ;
  left: 0.4em;
  border-radius: 6px;
  width: 9em;
}
.sub-text {
  color: white;
  position: relative;
  top: 10em;
  line-height: 1.2em;
  text-align: center;
  font-family: Roboto;
  font-size: 1.3em;
  border: 3px solid white;
  padding: 2em;
  border-radius: 4px;
}

.wrapper-2 {
  position: relative;
  top: 15%;
}

@media screen and (max-width: 1090px) {
  .icon {
    font-size: 6em;
  }
}

@media screen and (max-width: 830px) {
  .icon {
    font-size: 5em;
  }
}
@media screen and (max-width: 690px) {
  .icon.one,.icon.two,.icon.three,.icon.four {
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 622px) {
  .icon.one,.icon.two,.icon.three,.icon.four {
    margin-right: 0.5em;
  }
}
@media screen and (max-width: 530px) {
  .icon {
    font-size: 4em;
  }
}
@media screen and (max-width: 432px) {
  .icon {
    font-size: 3.2em;
  }
}
