@import url('https://fonts.googleapis.com/css?family=Roboto');

.profile-pic {
  background-image: url('./Code-ninja.png');
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


.content {

}

.about-me {
  font-size: 1.2em;
  font-family: Roboto;
  color: white;
}
.about-me-title {
  font-family: Roboto;
  color: white;
  font-size: 3em;
}

.wrapper {
  position: relative;
  top: 38%;
  height: 100vh;
}

.underline-about-me {
  border: 2px solid white;
  border-radius: 6px;
  width: 10em;
  position: relative;
}

@media screen and (max-width: 740px) {
  .profile-pic {
    height: 167px;
    width: 167px;
  }
}

@media screen and (max-width: 489px) {
  .profile-pic {
    height: 157px;
    width: 157px;
  }
}
@media screen and (max-width: 400px) {
  .about-me {
    font-size: ;
    width: 300px;
  }
}
@media screen and (max-height: 588px) {
  .wrapper {
    top: 50%;
  }
}
@media screen and (max-height: 552px) {
  .wrapper {
    top: 60%;
  }
}

@media screen and (max-height: 520px) {
  .wrapper {
    top: 70%;
  }
}
@media screen and (max-height: 391px) {
  .wrapper {
    top: 80%;
  }
}

@media screen and (max-height: 369px) {
  .wrapper {
    top: 100%;
  }
}

@media screen and (max-height: 328px) {
  .wrapper {
    top: 120%;
  }
}
