.nav-item {
  margin: 0.5em 0.5em;

}

.nav {
  font-size: 1.3em;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #29323c, #485563);
  background: -o-linear-gradient(left, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar-brand {
  font-size: 1.3em;
}
.logo {
  width: 100px;
  height: 50px;
}
