@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper-3 {
  margin-top: 20em;
  padding-bottom: 10em;
}

.Contact {
  color: white;
  font-family: Roboto;
  font-size: 3em;
}

.Email {
  color: white;
  font-size: 1.7em;
}

.underline-contact {
  border: 2px solid white;
  border-radius: 6px;
  width: 10em;
}

#contact-icons {
  margin-top: 3em;
}

@media screen and (max-width: 690px) {
  #contact-icons {
    margin-right: 3%;
  }
}

@media screen and (max-height: 429px) {
  .wrapper-3 {
    margin-top: 1em;
  }
}

@media screen and (max-width: 444px) {
  #contact-icons {
    margin-right: 2%;
  }

  .contact-icon {
    font-size: 3em;
  }
}

@media screen and (max-width: 382px) {
  .Email {
    font-size: 1.6em;

  }
}

@media screen and (max-width: 372px) {
  .contact-icon {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 367px) {
  .Email {
    font-size: 1.4em;
  }
}


@media screen and (max-height: 391px) {
  .contact-row {

  }
}
