@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper-3 {
  margin-top: 20em;
  padding-bottom: 10em;
}

.Contact {
  color: white;
  font-family: Roboto;
  font-size: 3em;
}

.Email {
  color: white;
  font-size: 1.7em;
}

.button {
  margin-left: 39.2%;
  font-family: Roboto;
}

.underline-contact {
  border: 2px solid white;
  border-radius: 6px;
  width: 10em;
  margin-left: 3%;
}

#contact-icons {
  margin-top: 3em;
  margin-left: 7%;
}


@media screen and (max-width: 812px) {
  #contact-icons {
    margin-left: 9%;
  }
}


@media screen and (max-width: 740px) {
  #contact-icons {
    margin-left: 10%;
  }
}


@media screen and (max-width: 736px) {
  #contact-icons {
    margin-left: 10%;
  }
}

@media screen and (max-width: 690px) {
  #contact-icons {
    margin-right: 3%;
  }
}

@media screen and (max-width: 667px) {
  #contact-icons {
    margin-left: 10%;
  }
}

@media screen and (max-height: 429px) {
  .wrapper-3 {

  }
}

@media screen and (max-width: 444px) {
  #contact-icons {
    margin-right: 2%;
  }

  .contact-icon {
    font-size: 3em;
  }
}

@media screen and (max-width: 382px) {
  .Email {
    font-size: 1.6em;

  }
}

@media screen and (max-width: 372px) {
  .contact-icon {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 367px) {
  .Email {
    font-size: 1.4em;
  }
}


@media screen and (max-width: 375px) {
  .button {
    margin-left: 37.5%;
  }
  #contact-icons {
    margin-left: 8.5%;
  }
}
